In [16]:
import pandas as pd
import plotly.express as px
import plotly.figure_factory as ff
import warnings
import numpy as np
warnings.filterwarnings('ignore')

In [17]:
PS1 = pd.read_csv('/home/arancium/ucihydraulic/Data/PS1.txt', sep = '\t')
PS2 = pd.read_csv('/home/arancium/ucihydraulic/Data/PS2.txt', sep = '\t')
PS3 = pd.read_csv('/home/arancium/ucihydraulic/Data/PS3.txt', sep = '\t')
PS4 = pd.read_csv('/home/arancium/ucihydraulic/Data/PS4.txt', sep = '\t')
PS5 = pd.read_csv('/home/arancium/ucihydraulic/Data/PS5.txt', sep = '\t')
PS6 = pd.read_csv('/home/arancium/ucihydraulic/Data/PS6.txt', sep = '\t')
EPS1 = pd.read_csv('/home/arancium/ucihydraulic/Data/EPS1.txt', sep = '\t')
FS1 = pd.read_csv('/home/arancium/ucihydraulic/Data/FS1.txt', sep = '\t')
FS2 = pd.read_csv('/home/arancium/ucihydraulic/Data/FS2.txt', sep = '\t')
TS1 = pd.read_csv('/home/arancium/ucihydraulic/Data/TS1.txt', sep = '\t')
TS2 = pd.read_csv('/home/arancium/ucihydraulic/Data/TS2.txt', sep = '\t')
TS3 = pd.read_csv('/home/arancium/ucihydraulic/Data/TS3.txt', sep = '\t')
TS4 = pd.read_csv('/home/arancium/ucihydraulic/Data/TS4.txt', sep = '\t')
VS1 = pd.read_csv('/home/arancium/ucihydraulic/Data/VS1.txt', sep = '\t')
CE = pd.read_csv('/home/arancium/ucihydraulic/Data/CE.txt', sep = '\t')
CP = pd.read_csv('/home/arancium/ucihydraulic/Data/CP.txt', sep = '\t')
SE = pd.read_csv('/home/arancium/ucihydraulic/Data/SE.txt', sep = '\t')

In [18]:
ReshapedPS1 = PS1.values.reshape(-1,100)
meansPS1 = ReshapedPS1.mean(axis = 1)
SPS1 = pd.DataFrame(meansPS1.reshape(PS1.shape[0], -1))


ReshapedPS2 = PS2.values.reshape(-1,100)
meansPS2 = ReshapedPS2.mean(axis = 1)
SPS2 = pd.DataFrame(meansPS2.reshape(PS2.shape[0], -1))

ReshapedPS3 = PS3.values.reshape(-1,100)
meansPS3 = ReshapedPS3.mean(axis = 1)
SPS3 = pd.DataFrame(meansPS3.reshape(PS3.shape[0], -1))

ReshapedPS4 = PS4.values.reshape(-1,100)
meansPS4 = ReshapedPS4.mean(axis = 1)
SPS4 = pd.DataFrame(meansPS4.reshape(PS4.shape[0], -1))

ReshapedPS5 = PS5.values.reshape(-1,100)
meansPS5 = ReshapedPS5.mean(axis = 1)
SPS5 = pd.DataFrame(meansPS5.reshape(PS5.shape[0], -1))

ReshapedPS6 = PS6.values.reshape(-1,100)
meansPS6 = ReshapedPS6.mean(axis = 1)
SPS6 = pd.DataFrame(meansPS6.reshape(PS6.shape[0], -1))

ReshapedEPS1 = EPS1.values.reshape(-1,100)
meansEPS1 = ReshapedEPS1.mean(axis = 1)
SEPS1 = pd.DataFrame(meansEPS1.reshape(EPS1.shape[0], -1))

ReshapedFS1 = FS1.values.reshape(-1,10)
meansFS1 = ReshapedFS1.mean(axis = 1)
SFS1 = pd.DataFrame(meansFS1.reshape(FS1.shape[0], -1))

ReshapedFS2 = FS2.values.reshape(-1,10)
meansFS2 = ReshapedFS2.mean(axis = 1)
SFS2 = pd.DataFrame(meansFS2.reshape(FS2.shape[0], -1))

In [19]:
df_Segundos_PS1 = SPS1.stack().reset_index(drop=True)
df_Segundos_PS2 = SPS2.stack().reset_index(drop=True)
df_Segundos_PS3 = SPS3.stack().reset_index(drop=True)
df_Segundos_PS4 = SPS4.stack().reset_index(drop=True)
df_Segundos_PS5 = SPS5.stack().reset_index(drop=True)
df_Segundos_PS6 = SPS6.stack().reset_index(drop=True)
df_Segundos_EPS1 = SEPS1.stack().reset_index(drop=True)
df_Segundos_FS1 = SFS1.stack().reset_index(drop=True)
df_Segundos_FS2 = SFS2.stack().reset_index(drop=True)

In [20]:
Df_TS1_Segundos = TS1.stack().reset_index(drop=True)
Df_TS2_Segundos = TS2.stack().reset_index(drop=True)
Df_TS3_Segundos = TS3.stack().reset_index(drop=True)
Df_TS4_Segundos = TS4.stack().reset_index(drop=True)
df_VS1_Segundos = VS1.stack().reset_index(drop=True)
df_CE_Segundos = CE.stack().reset_index(drop=True)
df_CP_Segundos = CP.stack().reset_index(drop=True)
df_SE_Segundos = SE.stack().reset_index(drop=True)

In [21]:
df_SE_Segundos

0         68.264
1          0.000
2          0.000
3          0.000
4          0.000
           ...
132235    68.167
132236    68.167
132237    68.258
132238    68.258
132239    68.117
Length: 132240, dtype: float64

In [22]:
df_Segundos = pd.concat([df_Segundos_PS1,
                         df_Segundos_PS2,
                         df_Segundos_PS3,
                         df_Segundos_PS4,
                         df_Segundos_PS5,
                         df_Segundos_PS6,
                         df_Segundos_EPS1,
                         df_Segundos_FS1,
                         df_Segundos_FS2,
                         Df_TS1_Segundos,
                         Df_TS2_Segundos,
                         Df_TS3_Segundos,
                         Df_TS4_Segundos,
                         df_VS1_Segundos,
                         df_CE_Segundos,
                         df_CP_Segundos,
                         df_SE_Segundos
                         ], axis = 1)

In [23]:
df_Segundos

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,174.2707,12.28756,0.18663,0.00000,9.71038,9.60095,2582.128,1.0458,10.4113,36.156,41.258,38.680,33.648,0.590,29.208,1.414,68.264
1,191.3529,0.22033,0.00000,0.00000,9.70451,9.59831,2939.828,0.0024,10.4047,36.094,41.277,38.672,33.723,0.610,28.822,1.384,0.000
2,191.3024,0.02411,0.00000,0.00000,9.69738,9.58497,2944.482,0.0006,10.3989,35.992,41.262,38.668,33.723,0.626,28.805,1.385,0.000
3,191.3244,0.00000,0.00000,0.00000,9.68868,9.58003,2944.368,0.0018,10.3892,36.008,41.223,38.668,33.734,0.620,28.922,1.384,0.000
4,191.2904,0.00000,0.00000,0.00000,9.68896,9.57859,2943.664,0.0015,10.4112,35.992,41.211,38.742,33.754,0.623,28.591,1.382,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132235,151.7397,125.67640,2.35381,10.21349,9.98025,9.85935,2415.880,7.8623,10.1889,35.441,40.910,38.195,30.395,0.516,46.355,2.134,68.167
132236,151.7571,125.67780,2.32953,10.21272,9.98103,9.86011,2415.692,7.8369,10.1826,35.437,40.895,38.184,30.391,0.528,46.432,2.146,68.167
132237,151.7946,125.72750,2.35844,10.21637,9.97812,9.86092,2416.870,7.8729,10.1862,35.434,40.883,38.184,30.395,0.522,46.384,2.144,68.258
132238,151.7378,125.71310,2.29595,10.21528,9.98258,9.86093,2415.968,7.8685,10.1861,35.434,40.879,38.184,30.402,0.522,46.479,2.136,68.258
132239,151.7111,125.65300,2.31393,10.21059,9.98009,9.86038,2415.332,7.8561,10.1766,35.426,40.891,38.187,30.375,0.531,46.621,2.148,68.117

In [24]:
nombres = {0: 'PS1',
           1: 'PS2',
           2: 'PS3',
           3: 'PS4',
           4 : 'PS5',
           5 : 'PS6',
           6 : 'EPS1',
           7: 'FS1',
           8: 'FS2',
           9: 'TS1',
           10: 'TS2',
           11: 'TS3',
           12: 'TS4',
           13: 'VS1',
           14: 'CE',
           15: 'CP',
           16: 'SE'
           }

df_Segundos = df_Segundos.rename(columns = nombres)
df_Segundos

,PS1,PS2,PS3,PS4,PS5,PS6,EPS1,FS1,FS2,TS1,TS2,TS3,TS4,VS1,CE,CP,SE
0,174.2707,12.28756,0.18663,0.00000,9.71038,9.60095,2582.128,1.0458,10.4113,36.156,41.258,38.680,33.648,0.590,29.208,1.414,68.264
1,191.3529,0.22033,0.00000,0.00000,9.70451,9.59831,2939.828,0.0024,10.4047,36.094,41.277,38.672,33.723,0.610,28.822,1.384,0.000
2,191.3024,0.02411,0.00000,0.00000,9.69738,9.58497,2944.482,0.0006,10.3989,35.992,41.262,38.668,33.723,0.626,28.805,1.385,0.000
3,191.3244,0.00000,0.00000,0.00000,9.68868,9.58003,2944.368,0.0018,10.3892,36.008,41.223,38.668,33.734,0.620,28.922,1.384,0.000
4,191.2904,0.00000,0.00000,0.00000,9.68896,9.57859,2943.664,0.0015,10.4112,35.992,41.211,38.742,33.754,0.623,28.591,1.382,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132235,151.7397,125.67640,2.35381,10.21349,9.98025,9.85935,2415.880,7.8623,10.1889,35.441,40.910,38.195,30.395,0.516,46.355,2.134,68.167
132236,151.7571,125.67780,2.32953,10.21272,9.98103,9.86011,2415.692,7.8369,10.1826,35.437,40.895,38.184,30.391,0.528,46.432,2.146,68.167
132237,151.7946,125.72750,2.35844,10.21637,9.97812,9.86092,2416.870,7.8729,10.1862,35.434,40.883,38.184,30.395,0.522,46.384,2.144,68.258
132238,151.7378,125.71310,2.29595,10.21528,9.98258,9.86093,2415.968,7.8685,10.1861,35.434,40.879,38.184,30.402,0.522,46.479,2.136,68.258
132239,151.7111,125.65300,2.31393,10.21059,9.98009,9.86038,2415.332,7.8561,10.1766,35.426,40.891,38.187,30.375,0.531,46.621,2.148,68.117

In [25]:
list(df_Segundos)

['PS1',
 'PS2',
 'PS3',
 'PS4',
 'PS5',
 'PS6',
 'EPS1',
 'FS1',
 'FS2',
 'TS1',
 'TS2',
 'TS3',
 'TS4',
 'VS1',
 'CE',
 'CP',
 'SE']

In [26]:
df_Segundos['Time'] = range(len(df_Segundos))
df_Segundos['Time'] = pd.to_datetime(df_Segundos['Time'], unit='s', origin=pd.Timestamp('2023-09-23 00:00:00'))
df_Segundos.set_index('Time', inplace=True)
df_Segundos

,PS1,PS2,PS3,PS4,PS5,PS6,EPS1,FS1,FS2,TS1,TS2,TS3,TS4,VS1,CE,CP,SE
Time,,,,,,,,,,,,,,,,,
2023-09-23 00:00:00,174.2707,12.28756,0.18663,0.00000,9.71038,9.60095,2582.128,1.0458,10.4113,36.156,41.258,38.680,33.648,0.590,29.208,1.414,68.264
2023-09-23 00:00:01,191.3529,0.22033,0.00000,0.00000,9.70451,9.59831,2939.828,0.0024,10.4047,36.094,41.277,38.672,33.723,0.610,28.822,1.384,0.000
2023-09-23 00:00:02,191.3024,0.02411,0.00000,0.00000,9.69738,9.58497,2944.482,0.0006,10.3989,35.992,41.262,38.668,33.723,0.626,28.805,1.385,0.000
2023-09-23 00:00:03,191.3244,0.00000,0.00000,0.00000,9.68868,9.58003,2944.368,0.0018,10.3892,36.008,41.223,38.668,33.734,0.620,28.922,1.384,0.000
2023-09-23 00:00:04,191.2904,0.00000,0.00000,0.00000,9.68896,9.57859,2943.664,0.0015,10.4112,35.992,41.211,38.742,33.754,0.623,28.591,1.382,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-24 12:43:55,151.7397,125.67640,2.35381,10.21349,9.98025,9.85935,2415.880,7.8623,10.1889,35.441,40.910,38.195,30.395,0.516,46.355,2.134,68.167
2023-09-24 12:43:56,151.7571,125.67780,2.32953,10.21272,9.98103,9.86011,2415.692,7.8369,10.1826,35.437,40.895,38.184,30.391,0.528,46.432,2.146,68.167
2023-09-24 12:43:57,151.7946,125.72750,2.35844,10.21637,9.97812,9.86092,2416.870,7.8729,10.1862,35.434,40.883,38.184,30.395,0.522,46.384,2.144,68.258
2023-09-24 12:43:58,151.7378,125.71310,2.29595,10.21528,9.98258,9.86093,2415.968,7.8685,10.1861,35.434,40.879,38.184,30.402,0.522,46.479,2.136,68.258
2023-09-24 12:43:59,151.7111,125.65300,2.31393,10.21059,9.98009,9.86038,2415.332,7.8561,10.1766,35.426,40.891,38.187,30.375,0.531,46.621,2.148,68.117

In [27]:
df_Segundos.describe().T.round(2)

         count     mean     std      min      25%      50%      75%      max
PS1   132240.0   160.49   15.88   134.85   149.05   154.01   165.74   191.62
PS2   132240.0   109.38   47.19     0.00   118.27   125.66   130.40   165.60
PS3   132240.0     1.75    0.82     0.00     1.91     2.04     2.25     4.02
PS4   132240.0     2.60    4.30     0.00     0.00     0.00     3.97    10.22
PS5   132240.0     9.16    0.58     8.35     8.55     9.12     9.85     9.99
PS6   132240.0     9.08    0.55     8.31     8.49     9.03     9.73     9.87
EPS1  132240.0  2495.49  215.73  2102.93  2339.85  2427.86  2612.28  2989.64
FS1   132240.0     6.20    2.99     0.00     7.36     7.64     7.81    12.09
FS2   132240.0     9.65    0.45     8.83     9.21     9.69    10.15    10.42
TS1   132240.0    45.43    7.99    34.98    36.25    44.86    54.05    58.21
TS2   132240.0    50.37    7.39    40.71    41.90    49.80    58.54    62.18
TS3   132240.0    47.67    7.45    38.15    39.16    47.09    55.67    59.54
TS4   132240.0    40.74    8.11    30.36    31.27    40.44    49.38    53.14
VS1   132240.0     0.61    0.08     0.48     0.56     0.60     0.64     2.55
CE    132240.0    31.30   11.58    17.04    20.13    27.30    46.62    48.78
CP    132240.0     1.81    0.28     1.02     1.56     1.74     2.14     2.91
SE    132240.0    55.29   25.64     0.00    59.04    67.06    69.39   100.60

In [28]:
Vars = list(df_Segundos)
cor = df_Segundos.corr()

for var in Vars:
    cor_target = abs(cor[var])
    relevant_features = cor_target[cor_target > 0.5].index.tolist()
    print(f"Relevant features for '{var}': {relevant_features}")

Relevant features for 'PS1': ['PS1', 'PS2', 'PS3', 'EPS1', 'FS1', 'VS1', 'SE']
Relevant features for 'PS2': ['PS1', 'PS2', 'PS3', 'EPS1', 'FS1', 'SE']
Relevant features for 'PS3': ['PS1', 'PS2', 'PS3', 'EPS1', 'FS1', 'SE']
Relevant features for 'PS4': ['PS4', 'PS5', 'PS6', 'FS2', 'TS1', 'TS2', 'TS3', 'TS4', 'CE', 'CP']
Relevant features for 'PS5': ['PS4', 'PS5', 'PS6', 'FS2', 'TS1', 'TS2', 'TS3', 'TS4', 'VS1', 'CE', 'CP']
Relevant features for 'PS6': ['PS4', 'PS5', 'PS6', 'FS2', 'TS1', 'TS2', 'TS3', 'TS4', 'VS1', 'CE', 'CP']
Relevant features for 'EPS1': ['PS1', 'PS2', 'PS3', 'EPS1', 'FS1', 'SE']
Relevant features for 'FS1': ['PS1', 'PS2', 'PS3', 'EPS1', 'FS1', 'VS1', 'SE']
Relevant features for 'FS2': ['PS4', 'PS5', 'PS6', 'FS2', 'TS1', 'TS2', 'TS3', 'TS4', 'VS1', 'CE', 'CP']
Relevant features for 'TS1': ['PS4', 'PS5', 'PS6', 'FS2', 'TS1', 'TS2', 'TS3', 'TS4', 'VS1', 'CE', 'CP']
Relevant features for 'TS2': ['PS4', 'PS5', 'PS6', 'FS2', 'TS1', 'TS2', 'TS3', 'TS4', 'VS1', 'CE', 'CP']
Relevant features for 'TS3': ['PS4', 'PS5', 'PS6', 'FS2', 'TS1', 'TS2', 'TS3', 'TS4', 'VS1', 'CE', 'CP']
Relevant features for 'TS4': ['PS4', 'PS5', 'PS6', 'FS2', 'TS1', 'TS2', 'TS3', 'TS4', 'VS1', 'CE', 'CP']
Relevant features for 'VS1': ['PS1', 'PS5', 'PS6', 'FS1', 'FS2', 'TS1', 'TS2', 'TS3', 'TS4', 'VS1', 'CE', 'CP', 'SE']
Relevant features for 'CE': ['PS4', 'PS5', 'PS6', 'FS2', 'TS1', 'TS2', 'TS3', 'TS4', 'VS1', 'CE', 'CP']
Relevant features for 'CP': ['PS4', 'PS5', 'PS6', 'FS2', 'TS1', 'TS2', 'TS3', 'TS4', 'VS1', 'CE', 'CP']
Relevant features for 'SE': ['PS1', 'PS2', 'PS3', 'EPS1', 'FS1', 'VS1', 'SE']

In [29]:
df_Segundos.to_csv('Segundos.csv')